accelerate
anthropic
autopep8
bitsandbytes
datasets
evaluate
hf_xet
huggingface_hub
jupyter
jupyterlab
langchain
langchain-anthropic
langchain-openai
langgraph
langsmith
matplotlib
mcp
numpy
onnx
onnxruntime
openai
pandas
peft
pip
pydantic
pytest
python-dotenv
safetensors
scikit-learn
seaborn
tensorboard
tiktoken
torch
torchtext
tqdm
transformers[torch]
umap-learn
wordcloud
